* {
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}

#site {
    width: 800px;  /* feel free to change this! */
}

#leafletmap {
    height: 600px; /* feel free to change this! */
}

#search {

}